<div class="bio-nav-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="nav-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title-text mat-headline">{{name}}</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #drawer class="sidenav" fixedTopGap=56 [fixedInViewport]="mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true">
      <mat-nav-list class="mat-body-strong">
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/experience">Experience</a>
        <a mat-list-item routerLink="/links">Links</a>
        <a mat-list-item routerLink="/certs">Certificates</a>
        <a mat-list-item routerLink="/resources">Resources</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>