<mat-card>
  <mat-card-content>
    <p class="mat-subheading-2">
      I'm Stanley, an engineer interested in software engineering and computer vision.
      I work at <a href="https://www.deepmap.ai/">Deepmap</a> and build HD map solutions
      for autonomous vehicles.
      Before that, I worked at <a href="https://www.roche.com/">Roche</a>, I was building
      platform and algorithms for pathology image analysis and was building deep learning
      data pipeline and learning DL in order to improve accuracy.
    </p>
    <p class="mat-subheading-2">
      I like to solve engineering problems and enthusiasm in C++ development.
      In my own time I enjoy learning new things, including technology,
      and exploring National Parks.
    </p>
  </mat-card-content>
</mat-card>