<mat-card>
  <mat-card-content>
    <p class="mat-subheading-2">
      I'm a software engineer working in Autonomous Vehicle industry, specifically,
      in high definition mapping for autonomous vehicles.
      Currently, I work at <a href="https://www.nvidia.com/">Nvidia</a>.
      Previously at <a href="https://www.deepmap.ai/">Deepmap</a>, which was acquired by Nvidia.
      Before that, I worked at <a href="https://www.roche.com/">Roche</a>, where I built
      platform and algorithms for Pathology image analysis and developed machine learning
      pipeline for data labeling and model training.
    </p>
    <p class="mat-subheading-2">
      I like to solve engineering problems and enthusiasm in C++ development.
      In my own time I enjoy learning new things, including technology,
      and exploring National Parks.
    </p>
  </mat-card-content>
</mat-card>