<mat-card>
  <mat-card-content>
    <p class="mat-subheading-2">
      I'm an engineer interested in software engineering related to computer vision.
      I work at <a href="https://www.deepmap.ai/">Deepmap</a> and build High-Definition
      map solutions for autonomous vehicles.
      Before that, I worked at <a href="https://www.roche.com/">Roche</a>, where I built
      platform and algorithms for Pathology image analysis and developed machine learning
      pipeline for data labeling and model training.
    </p>
    <p class="mat-subheading-2">
      I like to solve engineering problems and enthusiasm in C++ development.
      In my own time I enjoy learning new things, including technology,
      and exploring National Parks.
    </p>
  </mat-card-content>
</mat-card>