<mat-tab-group>
  <mat-tab *ngFor="let learningMaterial of learningMaterials" label={{learningMaterial.language}}>
    <mat-card>
      <mat-card-subtitle>These are resources I found useful</mat-card-subtitle>
      <mat-list-item *ngFor="let resource of learningMaterial.resources">
        <mat-card-content>
          <p class="mat-subheading-1">
            {{resource.name}}
          </p>
          <mat-divider [vertical]="true"></mat-divider>
          <a href={{resource.url}} class="mat-body">
            {{resource.url}}
          </a>
        </mat-card-content>
      </mat-list-item>
    </mat-card>
  </mat-tab>
</mat-tab-group>